{% extends 'layout.html.twig' %}

{% block title %}{{ product.title.toString }}{% endblock %}

{% block body %}
    <main role="main">
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center mb-5">{{ product.title.toString }}</h1>
                    </div>
                    <div class="col-md-4">
                        {% set image = product.image %}
                        <img src="{{ asset(image.path, image.packageName) }}" alt=""
                             class="img-thumbnail mb-3">
                    </div>
                    <div class="col-md-8">
                        <p>{{ product.description.toString }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
