{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <main role="main">
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center mb-5">title</h1>
                    </div>
                    <div class="col-md-4">
                        <img src="" alt=""
                             class="img-thumbnail mb-3">

                        <a href=""
                           class="btn btn-sm btn-outline-primary">Редактировать</a>

                        <a href=""
                           class="btn btn-sm btn-outline-danger float-right">Удалить</a>

                    </div>
                    <div class="col-md-8">
                        <p>desc</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
