{% extends 'admin/layout.html.twig' %}

{% block title %}Создание продукта{% endblock %}

{% block h1 %}Создание продукта{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-md-3 col-md-6">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
            <button type="submit" class="btn btn-success btn-lg">Создать</button>
            <a href="" class="btn btn-light btn-lg">Отмена</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

